# Framework Web e Interface
streamlit==1.31.0

# Manipulação de Dados e Análise
pandas==2.1.4
numpy==1.26.2

# Padronização de Saúde (HL7 FHIR)
fhir.resources==7.1.0

# API e Servidor (Para o módulo de interoperabilidade)
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3

# Gráficos e Visualização de Inventário
plotly==5.18.0
